## LOOPs in Python

for loop

In [2]:
#Write a program to print numbers from 1 to 100 using a loop.

for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
# Write a program to print the multiplication table of a given number.
num = int(input("Enter a number: "))

print(f"\nMultiplication Table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 5

Multiplication Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
# Write a program to find the sum of the first n natural numbers.
n=int(input("Enter a number: "))
total=0

for i in range(1, n+1):
  total += i
  print(f"Sum of first {n} natural numbers={total}")

Enter a number: 9
Sum of first 9 natural numbers=1
Sum of first 9 natural numbers=3
Sum of first 9 natural numbers=6
Sum of first 9 natural numbers=10
Sum of first 9 natural numbers=15
Sum of first 9 natural numbers=21
Sum of first 9 natural numbers=28
Sum of first 9 natural numbers=36
Sum of first 9 natural numbers=45

In [12]:
# Write a program to find the factorial of a number using a loop.
num = int(input("Enter a number: "))
factorial=1

if num<0:
  print("factorial number does not exist for negative numbers")
elif num==0:
  print("factorial number of 0 is 1")
else:
  for i in range(1,num+1):
    factorial *= i

print(f"factorial number of {num}= {factorial}")

Enter a number: 5
factorial number of 5= 120

In [13]:
colors = ["red","Yellow","Orange","Blue"]

for color in colors:
  print(color)

red
Yellow
Orange
Blue

In [14]:
colors = ["red","Yellow","Orange","Blue"]

for color in colors:
  print(color)
  for i in color:
    print(i)

red
r
e
d
Yellow
Y
e
l
l
o
w
Orange
O
r
a
n
g
e
Blue
B
l
u
e

In [1]:
n = int(input("Enter number of terms: "))

a, b = 0, 1

if n <= 0:
    print("Please enter a positive integer")
elif n == 1:
    print("Fibonacci series:", a)
else:
    print("Fibonacci series:", end=" ")
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

Enter number of terms: 5
Fibonacci series: 0 1 1 2 3

In [3]:
n=int(input("Enter number of terms: "))

a,b=0,1

if n<0:
  print("Please Enter a positive number")
elif n==1:
  print("Fibonacci series:",a)
else:
  print("Fibonacci series:",end="")
  for i in range(n):
    print(a,end="")
    a,b=b, a+b

Enter number of terms: 10
Fibonacci series:0112358132134

In [11]:
num=int(input("Enter a number: "))
sum_digit=0

while num>0:
  digit=num%10
  sum_digit=sum_digit + digit
  num//=10

print(sum_digit)

Enter a number: 56
11